
StructsProj/.idea/.idea.StructsProj/.idea/

StructsProj/Structs.ConsoleApp/bin/Debug/net5.0/ref/

*.sln

StructsProj/Structs.ConsoleApp/bin/Debug/net5.0/

StructsProj/Structs.ConsoleApp/obj/Debug/net5.0/

StructsProj/Structs.ConsoleApp/obj/

StructsProj/Structs.Lib/obj/

StructsProj/Structs.Lib/bin/Debug/net5.0/

StructsProj/Structs.ConsoleApp/Dockerfile

StructsProj/Structs.ConsoleApp/.dockerignore
